<h1> App component </h1>
<p> {{title}}</p>


<app-test
[var_test] = "var_test"
(messageEvent)="receiveMessage($event)"
>
</app-test>

<router-outlet></router-outlet>
<br>
<br>
<a routerLink="/test"> Test </a>
<br>
<a routerLink="/test2"> Test 2 </a>
<br>

<!-- Balise ngIf pour des conditions
<div *ngIf="true">display cause it's true</div>
<div *ngIf="false">display cause it's false</div>
-->

<!-- Balise ngFor pour afficher tous les items d'un élements: exemple liste
<div *ngFor="let item of items">
  <div>{{ item }}</div>
</div>
-->

<!-- Balise ng-template pour afficher des templates (a utiliser avec un ngIf par exemple)
<ng-template #falseTemplate>
  <div>template</div>
</ng-template>
-->


